%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif

/* UI Tour */

#UITourHighlightContainer {
  appearance: none;

  /* Resets the native styles in windows and macOS */
  border: none;
  background-color: transparent;
  -moz-window-shadow: none;

  --panel-border-color: transparent;
  --panel-background: transparent;
  /* This is a buffer to compensate for the movement in the "wobble" effect,
     and for the box-shadow of #UITourHighlight. */
  --panel-padding: 4px;
  /* Compensate the displacement caused by padding. */
  margin: -4px;
}

#UITourHighlight {
  background-color: rgba(0, 200, 215, 0.3);
  min-height: 24px;
  min-width: 24px;
}

#UITourHighlight.rounded-highlight {
  border-radius: 4px;
}

#UITourTooltipBody {
  -moz-box-align: start;
}

#UITourTooltipTitleContainer {
  -moz-box-align: start;
}

#UITourTooltipIcon {
  width: 48px;
  height: 48px;
  margin-inline-end: 10px;
}

#UITourTooltipTitle,
#UITourTooltipDescription {
  max-width: 20rem;
}

#UITourTooltipTitle {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
}

#UITourTooltipToolbarSeparator {
  appearance: none;
  min-height: 0;
  border-top: 1px solid var(--panel-separator-color);
  border-bottom: none;
  margin: var(--panel-separator-margin);
  margin-inline: 0;
  padding: 0;
}

#UITourTooltipDescription {
  margin-inline: 0;
  font-size: 1.11em;
  line-height: normal;
  margin-bottom: 0; /* Override global.css */
}

#UITourTooltipClose {
  position: relative;
  appearance: none;
  border: none;
  background-color: transparent;
  min-width: 0;
  margin-inline-start: 4px;
  margin-top: -2px;
}

#UITourTooltipClose > .toolbarbutton-text {
  display: none;
}

#UITourTooltipButtons {
  -moz-box-pack: end;
  padding-block-start: 16px;
}

#UITourTooltipButtons > label,
#UITourTooltipButtons > button {
  margin: 0 15px;
}

#UITourTooltipButtons > label:first-child,
#UITourTooltipButtons > button:first-child {
  margin-inline-start: 0;
}

#UITourTooltipButtons > label:last-child,
#UITourTooltipButtons > button:last-child {
  margin-inline-end: 0;
}

#UITourTooltipButtons > button[image] > .button-box > .button-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
}

#UITourTooltipButtons > label,
#UITourTooltipButtons > button .button-text {
  font-weight: 600;
  margin-inline: 0;
}

#UITourTooltipButtons > button:not(.button-link) {
  appearance: none;
  border-radius: 4px;
  padding: 8px 16px;
}

#UITourTooltipButtons > label,
#UITourTooltipButtons > button.button-link:not(:hover) {
  appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  padding-inline: 10px;
}

#UITourTooltipButtons > button.button-primary {
  background-color: var(--button-primary-bgcolor);
  color: var(--button-primary-color);
}

#UITourTooltipButtons > button.button-primary:active {
  background-color: var(--button-primary-active-bgcolor);
}

#UITourTooltipButtons > button.button-primary:not(:active):hover {
  background-color: var(--button-primary-hover-bgcolor);
}
